<!DOCTYPE html>
<html>
<head>
    <title>MongoDB MVC Home</title>
</head>
<body>
    <h1>Node.js + MongoDB MVC Project</h1>

    <hr>

    <h2>1. View All Users</h2>
    <a href="/users">View All Users</a>

    <hr>

    <h2>2. Search Single User</h2>
    <form onsubmit="goSingleUser(event)">
        <input type="text" id="singleName" placeholder="Enter name" required>
        <button type="submit">Search</button>
    </form>

    <hr>

    <h2>3. Search Multiple Users</h2>
    <form onsubmit="goMultiUser(event)">
        <input type="text" id="multiNames" placeholder="Neeraj,Gaurav" required>
        <button type="submit">Search Multiple</button>
    </form>

    <script>
        function goSingleUser(event) {
            event.preventDefault();
            const name = document.getElementById("singleName").value;
            window.location.href = "/users/name/" + name;
        }

        function goMultiUser(event) {
            event.preventDefault();
            const names = document.getElementById("multiNames").value;
            window.location.href = "/users/search?names=" + names;
        }
    </script>
</body>
</html>